<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/stylemenu.css">
</head>

<body>
    <div class="header">
    </div>
    <nav class="dp-menu">
        <ul>
            <li>
                <a href="#" style="align-items: center;">Aluno</a>
                <ul class="teste">
                    <li><a href="@Url.Action("Curso", "Aluno")">Cursos</a></li>
                    <li><a href="#">Grade Curricular</a></li>
                    <li><a href="#">Notas</a></li>
                    <li><a href="#" style="color: red;">Tarefas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Professor</a>
                <ul>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Lançar notas</a></li>
                    <li><a href="#">Lançar presença</a></li>
                    <li><a href="#">Lançar Atividades</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Financeiro</a>
                <ul>
                    <li><a href="#">Estoque</a></li>
                    <li><a href="#">Lucro</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Relatórios</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Secretaria</a>
                <ul>
                    <li><a href="#">Cadastrar Curso</a></li>
                    <li><a href="#">Cadastrar Disciplina</a></li>
                    <li><a href="#">Cadastrar Turma</a></li>
                    <li><a href="#">Cadastrar Usuário</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Funcionário</a>
                <ul>
                    <li><a href="#">Consulta Ponto</a></li>
                    <li><a href="#">Holerite</a></li>
                    <li><a href="#">Ausência/Atividade</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Cadastro</a>
                <ul>
                    <li><a href="#">Meu Cadastro</a></li>
                    <li><a href="#">Alterar Senha</a></li>
                </ul>
            </li>

        </ul>
    </nav>
</body>
</html>
