<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/stylemenu.css">
</head>

<body>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: Arial;
            font-size: 15px;
            list-style: none;
            text-decoration: none;
            /*box-sizing: border-box;*/
        }

        :root {
            --cor-fundo: rgb(34, 41, 37);
            --cor-hover: rgb(118, 180, 145);
            --cor-primaria: rgb(231, 241, 236);
        }

        .header {
            width: 2000px;
            height: 120px;
            margin: auto;
            background: linear-gradient(120deg, #48e950, #00c2c8);
        }

        .dp-menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 0;
        }

        .dp-menu ul {
            background-color: var(--cor-fundo);
            margin: 0;
            padding: 0;
            flex-basis: auto;
        }

            .dp-menu ul li {
                display: inline;
                position: relative;
            }

                .dp-menu ul li a {
                    color: var(--cor-primaria);
                    font-family: Arial;
                    display: inline-block;
                    transition: background .3s;
                    width: 100px;
                    padding: 14px 20px;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;
                }

                    .dp-menu ul li a:hover {
                        background-color: var(--cor-hover);
                    }

            /*sub menu*/
            .dp-menu ul ul {
                display: none;
                left: 0;
                position: absolute;
            }

            .dp-menu ul li:hover ul {
                display: block;
            }

            .dp-menu ul ul {
                width: 100px
            }

                .dp-menu ul ul li a {
                    display: block;
                }

            .logo {
            float: left;
            color: white;
            font-size: 27px;
            font-weight: 600;
            line-height: 120px;
            padding-left: 20px;
        }

    </style>
    <div class="header logo">ONG Jovens Ambientalistas 2021</div>
    <nav class="dp-menu">
        <ul>
            <li>
                <a href="#" style="align-items: center;">Aluno</a>
                <ul class="teste">
                    <li><a href="@Url.Action("Curso", "Aluno")">Cursos</a></li>
                    <li><a href="#">Grade Curricular</a></li>
                    <li><a href="#">Notas</a></li>
                    <li><a href="#" style="color: red;">Tarefas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Professor</a>
                <ul>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Lançar notas</a></li>
                    <li><a href="#">Lançar presença</a></li>
                    <li><a href="#">Lançar Atividades</a></li>
                    <li><a href="#">Notícias</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Financeiro</a>
                <ul>
                    <li><a href="#">Estoque</a></li>
                    <li><a href="#">Lucro</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Relatórios</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Secretaria</a>
                <ul>
                    <li><a href="#">Cadastrar Curso</a></li>
                    <li><a href="#">Cadastrar Disciplina</a></li>
                    <li><a href="#">Cadastrar Turma</a></li>
                    <li><a href="#">Cadastrar Usuário</a></li>
                    <li><a href="@Url.Action("Index", "Funcionario")">Cadastrar Funcionário</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Funcionário</a>
                <ul>
                    <li><a href="#">Consulta Ponto</a></li>
                    <li><a href="#">Holerite</a></li>
                    <li><a href="#">Atividade</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Cadastro</a>
                <ul>
                    <li><a href="#">Meu Cadastro</a></li>
                    <li><a href="#">Alterar Senha</a></li>
                </ul>
            </li>

        </ul>
    </nav>
</body>
</html>
